<html>
    <head>
        <title>lillysabri - Lilly Sabri|bio.fm</title>
        <link rel="stylesheet" href="head.component.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <script src="https://fontawesome.com/v5.15/icons/shopping-cart?style=solid"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <div id="heading">
                <img src="https://bio.fm/cdn/storage/Images/4SKLu3ZjBgwwZhGGe/original/4SKLu3ZjBgwwZhGGe.jpg" alt="img" id="pic" />
                <h3 id="head1">Lilly Sabri <mark>  PRO</mark></h3>
                <h4 id="head2">bio.fm/lillysabri</h4>
            </div>
        </nav>  
        <nav>
            <button onclick="" id="shop">SHOP</button>
            <i class="fas fa-shopping-cart"></i>
        </nav>
        <nav class="boxx">
            <h3>THE LEAN APP IS COMMING GUIDE!</h3>
            <button onclick="" target="_blank" class="links">SIGN UP FOR FREE GUIDES!</button>
        </nav>
        <nav class="boxx">
            <h3>Get my Cookbook!</h3>
            <button onclick=""target="_blank" class="links">BUY NOW</button>
        </nav>
        <section>
            <h3 class="boxx">Over 500 FREE home Workouts</h3>
            <nav class="youtube">
                <img src="https://yt3.ggpht.com/a/AATXAJwUgI0p1F6EGHqqvErS2Z6ILkfWyPrTf9ZONg=s200-c-k-c0xffffffff-no-rj-mo" alt="img" id="image" />
                <p>
                    Lilly Sabri<br>
                    I'm Lilly Sabri, founder of lean with Lilly.<br>
                    I've been a Chartered...<br>
                    <button onclick="" id="youtube_button">Subscribe</button> 
                </p>
            </nav>
        </section>
        <nav class="boxx">
            <h3>SHOP GYMSHARK using my Link!</h3>
            <button onclick="" target="_blank" class="links">BUY GORGEOUS GYM CLOTHING NOW</button>
        </nav>
        <nav class="boxx">
            <h3>50% OFF my best selling WEEK LEAN TRANSFORMATION GUIDE</h3>
            <button onclick="" target="_blank" class="links">BUY NOW</button>
        </nav>
        <nav class="boxx">
            <h3>LEAN RESISTANCE BANDS</h3>
            <button onclick="" target="_blank" class="links">SHOP NOW</button>
        </nav>
    </body>
</html>